input[type="button"] {
  margin-left: 10px;
  background-color: #efefef;
  border: none;
  padding: 0.6em 1em;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.1em;
  border: 2px solid transparent;
  transition: 0.4s;
}

input[type="button"]:hover {
  color: #de2929;
  border-color: #de2929;
  background-color: transparent;
}